@import "first.css";
@import "second.css";
@import "third.css";
#sidebar {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


/* frist css end*/


/* 2 css start*/

#content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

blockquote p {
    background-color: rgba(172, 119, 119, 0.329);
}