a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "nav" "sidebar" "main" "content1" "content2" "content3" "footer";
    }
}

h1 {
    color: red;
}

ul {
    color: blue;
    list-style: none;
    display: flex;
}

p {
    color: green;
}

.olList {
    align-items: initial;
    padding-top: 15px;
    margin-top: 100px;
    list-style: none;
    font-size: 20px;
}

.socialsection {
    display: block;
}

.authorinfosection {
    padding: 4%;
    display: grid;
}

.avatar {
    width: 50%;
}